{% extends 'pages/base.html' %}
{% load wagtailcore_tags %}

{% block main %}
  <div class="container">
    <section id="hero" class="full-section flex-section">
      <div class="hero--text">
        <h1>keep our</h1>
        <h1>rainbow</h1>
        <h1>alive!</h1>
      </div>
    </section>
    <section id="about" class="full-section flex-section">
      <div>

      </div>
      <div>

      </div>
    </section>
    <section id="projects" class="full-section flex-section">

    </section>
  </div>
  <div class="pre-footer flex-section">
    <div>
      
    </div>
  </div>
{% endblock main %}
