.logo {
    height: 0;

    &.header__logo {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-bottom: 4rem;

        @include mobile {
            padding-bottom: 6.5rem;
        }

        .icon {
            width: 5rem;
            height: 5rem;
        }
    }
}
